.superInput {
    margin: 10px !important;
    background: white !important;
    color: #000;

}
.inputWrap{
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorInput {
    margin: 10px !important;
    border: 2px solid red;

}

.error {
    color: red;
}

input:focus{
    outline: none;
    border: 2px solid #cfcfcf;
}